h1{
    font-size: 70px;
}
hr{
    height: 1px;

    background-color: orange;

    border: none;
}
.text-left{
    width: 38%;
    margin-left: 25%;
}
#H{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: skyblue;
}
@media screen and (max-width:420px){
    .text-left{
        width: 90%;
        margin-left: 1%;
    }
    
}