.fa-suitcase{
    color: orangered;
}
.fa-minus-circle{
    color: skyblue;
}
.fa-university{
    color: orangered;
}
.fa-credit-card-alt{
    color: orangered;
}
.fa-user-secret{
    color: orange;
}
.fa-eye-slash{
    color: yellowgreen;
}
.form-control{
    width: 200px;
}
.tab-content{
    box-shadow: 2px 3px 3px black;
}
.nav-item{
    box-shadow: 3px 3px 3px rgb(32, 196, 185);
}
.d-flex{
    flex-wrap: wrap;
}