#justpay_wallet, #justpay_bank{
    font-size: 25px;
    font-weight: 500;
}
.balance{
    font-size: 20px;
}
.fa-suitcase, .fa-university{
    color: orangered;
}
#justpay{
    color: green;
}
.wallet, .bank{
    color: orange;
}
hr{
    height: 1px;

    background-color: orange;

    border: none;
}
#showBalance{
    box-shadow: 3px 3px 3px black;
}
