<div class="jumbotron jumbtron-fluid mb-0 w-100">
    <div class="d-flex justify-content-center" id="flex-boxes">
        <div class="d-flex ml-5 mt-2">
            <div class="rounded-circle">
                <img src="assets/images/phone.webp" alt="phone">
            </div>
            <div class="ml-4 mt-2 text-white">
                <div class="d-block">
                    <h5 class="m-0">Call:</h5>
                </div>
                <div class="d-block">
                    T: 8182001851
                </div>
                <div class="d-block">
                    M: 7985825376
                </div>
            </div>
        </div>
        <div class="d-flex ml-5">
            <div class="rounded-circle">
                <img src="assets/images/white-message.webp" alt="message">
            </div>
            <div class="ml-4 mt-2 text-white">
                <div class="d-block">
                    <h5 class="m-0">Contact:</h5>
                </div>
                <div class="d-block">
                    000raghuvansshi@gmail.com
                </div>
            </div>
        </div>
        <div class="d-flex ml-5 mt-2">
            <div class="rounded-circle">
                <img src="assets/images/footstep.webp" alt="footstep">
            </div>
            <div class="ml-4 mt-2 text-white">
                <div class="d-block">
                    <h5 class="m-0">Follow me:</h5>
                </div>
                <div class="d-block">
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href=""><i class="fa fa-twitter ml-2" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="d-flex ml-5 mt-2">
            <div class="rounded-circle">
                <img src="assets/images/copy.webp" alt="copyright">
            </div>
            <div class="ml-4 mt-2 text-white">
                <div class="d-block">
                    &copy; 2020 by <strong>__JustPay__</strong>
                </div>
                <div class="d-block">
                   Proudly created by <a href="https://www.linkedin.com/in/siddharth-raghuvanshi/"><u><i><strong>siddharth</strong></i></u></a>
                </div>
            </div>
        </div>
    </div>
</div>