.sidenav {
    height: 100%;
    background-image: linear-gradient(#f8f9fa,#20c4b9);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 13%;
  }
  
  .sidenav a {
    padding: 10% 0% 10% 10%;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover:not(:first-child) {
    color: white;
    font-weight: bold;
    background-color: rgb(56, 216, 205);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 
  .rounded-circle{
    display: block;
    cursor: pointer;
    width: 120px;
    height: 120px;
    background-color:  orange;
}
.rounded-circle span{
  font-weight: 500;
}