<div class="w-100 d-flex">
    <div class="w-sm-50">
        <div class="mt-5 pt-5">
            <h2 class="pl-4"><em>Hi, <strong>JustPay </strong>Welcomes you ..!</em></h2>
        </div>
        <div>
            <img src="assets/images/gifs/wallet.gif" alt="wallet gif" height="50%" width="100%">
        </div>
    </div>
    <div class="w-sm-50">
        <div class="wrapper">
            <div class="wrapped-div">
                <div class="tab-header d-flex">
                    <h2 routerLink="register" routerLinkActive="active" class="w-sm-50 pb-2 ml-3">Sign Up</h2>
                    <h2 routerLink="login" routerLinkActive="active" class="w-sm-50 pb-2 mx-5">Sign In</h2>
                </div>
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>