<div class="container justify-content-center my-5">
    <div class="d-flex">
     <div class="rounded-circle" id="mobile">
         <img src="/assets/images/mobile.webp" alt="mobile" id="mobile_image">
     </div>
     <div id="right-to-image">
         <div class="d-block">
             <h1>Hello,</h1>
             <h3> We Deal Money</h3>
         </div>
         <div class="d-flex my-4">
            <a routerLink="../service">
             <div class="rounded-circle pb-5 pr-5 m-3" id="services">
                <img src="assets/images/pencil.webp" alt="pencil" height="50px">
                 <div class="ml-4 mt-2 service_list">
                     Services
                 </div>
             </div>
            </a>
            <a routerLink="../about">
             <div class="rounded-circle pb-5 pr-5 m-3" id="aboutUs">
                 <img src="assets/images/message.webp" alt="pencil" height="50px">
                  <div class="ml-4 mt-2 service_list">
                      About Us
                  </div>
              </div>
            </a>
             <a routerLink="../contact">
                 <div class="rounded-circle pb-5 pr-5 m-3" id="contactUs">
                     <img src="assets/images/envelope.webp" alt="pencil" height="50px">
                      <div class="ml-4 mt-2 service_list">
                          Contact Us
                      </div>
                  </div>
             </a>
         </div>
         <div class="d-block ml-4">
             <h3 id="wallet">Your one and only wallet with</h3>
             <span>snapping figer money tranfer</span>
         </div>
     </div>
    </div>
 </div>