<form [formGroup]= "registerForm" autocomplete="off" (submit)="onSubmit()">
    <div class="d-flex">
        <div class="form-group required">
            <label>First Name</label>
            <input class="form-control" formControlName="firstName">
            <label  class="text-danger" *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('firstName').touched && registerForm.get('firstName').errors?.pattern">
                Only Characters are Allowed
            </label>
        </div>
        <div class="form-group required ml-3">
            <label>Last Name</label>
            <input class="form-control" formControlName="lastName">
            <label  class="text-danger" *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('lastName').touched && registerForm.get('lastName').errors?.pattern">
                Only Characters are Allowed
            </label>
        </div>
    </div>
    <div class="form-group required">
        <label>email</label>
        <input class="form-control" formControlName="email">
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.required">
            Required Field
        </label>
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.email">
            Invalid email
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>gender</label>
            <select class="form-control" formControlName="gender">
                <option selected></option>
                <option >Male</option>
                <option>Female</option>
                <option>Prefer Not to Say</option>
            </select>
            <label  class="text-danger" *ngIf="registerForm.get('gender').touched && registerForm.get('gender').errors?.required">
                Required Field
            </label>
        </div>
        <div class="form-group ml-3 required">
            <label>age</label>
            
            <input class="form-control" formControlName="age" id="age">
            <label  class="text-danger" *ngIf="registerForm.get('age').touched && registerForm.get('age').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('age').touched && registerForm.get('age').errors?.pattern">
                Invalid age
            </label>
        </div>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>Aaadhar No.</label>
            <input class="form-control" formControlName="aadharNo">
            <label  class="text-danger" *ngIf="registerForm.get('aadharNo').touched && registerForm.get('aadharNo').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('aadharNo').touched && registerForm.get('aadharNo').errors?.pattern">
               Enter 12 Digit Aaadhars
            </label>
        </div>
        <div class="form-group ml-3 required">
            <label>PanCard No.</label>
            <input class="form-control" formControlName="panNo">
            <label  class="text-danger" *ngIf="registerForm.get('panNo').touched && registerForm.get('panNo').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('panNo').touched && registerForm.get('panNo').errors?.minlength">
                Enter 10 Characters Pan
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('panNo').touched && registerForm.get('panNo').errors?.maxlength">
                Enter 10 Characters Pan
            </label>
        </div>
    </div>
    <div class="form-group required">
        <label>Mobile No.</label>
        <input class="form-control" formControlName="mobileNo">
        <label class="text-danger" *ngIf="registerForm.get('mobileNo').touched && registerForm.get('mobileNo').errors?.required">
            Required Field
        </label>
        <label class="text-danger" *ngIf="registerForm.get('mobileNo').touched && registerForm.get('mobileNo').errors?.pattern">
            Enter 10 digit Number
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>Password</label>
            <div id="password">
                <input type="password" [type]="show ? 'text' : 'password'" class="form-control" formControlName="password">
                <i class="fa fa-eye fa-2x ml-1" aria-hidden="true" (click)="password()"></i>
            </div>
            <label class="text-danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.required">
                Required Field
            </label>
            <label class="text-danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.minlength">
                Minimum 4 length
            </label>
        </div>
        <div class="form-group ml-3 required">
            <label>Create JustPay Pin</label>
            <input type="password" class="form-control" formControlName="userPin">
            <label class="text-danger" *ngIf="registerForm.get('userPin').touched && registerForm.get('userPin').errors?.required">
                Required Field
            </label>
            <label class="text-danger" *ngIf="registerForm.get('userPin').touched && registerForm.get('userPin').errors?.pattern">
                Pin must be 6 Digit Only
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]= "!registerForm.valid">Register</button>
    </div>
</form>